body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	background-color: #f4f4f4;
}

.header {
	background-color: #003399;
	color: white;
	display: grid;
	justify-content: center;
	align-items: center;
	padding: 10px;
}

.header-inputs {
	display: grid;
    grid-template-columns: auto auto auto auto;
	/* flex-wrap: wrap;
	flex: 4; */
}
.Input_Value{
	background-color: white;
}
.cabeceras {

	display: grid;
	justify-content: center;
	padding: 5px;
	grid-gap: 20%;
	text-align: center;
	
}

.textos{
	vertical-align: middle;
}

.header-inputs input[type="text"] {
	/* padding: 5px;
	margin-right: 10px; */
	border-radius: 5px;
	border: none;
	/* flex: 1; */
	/* max-width: 20%; */
	font-size: 16px;
}

.header-inputs input[type="text"]:last-child {
	max-width: 100%;
	margin-right: 0;
}

.header h1 {
	flex: 1;
	text-align: center;
	margin: 0;
	font-size: 24px;
	font-weight: bold;
	letter-spacing: 2px;
}

.header-input5 {
	flex: 1;
	margin-right: 10px;
	margin-top: 20px;
	border-radius: 5px;
	border: none;
	font-size: 16px;
	padding: 5px;
	width: 100%;
}

.main {
	padding: 20px;
}

.body-inputs {
	display: flex;
	flex-wrap: wrap;
}

.body-inputs input[type="text"] {
	padding: 5px;
	margin-right: 10px;
	border-radius: 5px;
	border: none;
	flex: 1;
	max-width: 20%;
	font-size: 16px;
}

.body-inputs input[type="text"]:last-child {
	max-width: 100%;
	margin-right: 0;
}

.body-input5 {
	flex: 1;
	margin-right: 10px;
	border-radius: 5px;
	border: none;
	font-size: 16px;
	padding: 5px;
	max-width: 100%;
}
.boton{
	margin-top: 2%;
	width: 50%;

}

.input_select{
	height: 25px;
}
table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
  }
  
td, th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}
#Programa {
	margin-top: 3%;
	overflow: hidden;
	overflow-x: scroll;
	width: 100%;
}


#Errores{
	display: grid;
	grid-template-columns: auto auto auto;
	margin-top: 3%;

}

#Ejemplos_botones{
	width: 100%;
	display: grid;
	grid-template-columns: auto auto;

}
#Autor{
	margin-top: -0.25%;
	margin-left: 25%;
	margin-bottom: -0.5%;

}
#Ejemplos_conjunto{
	width: 100%;
	display: grid;
	grid-template-columns: auto auto;

}
.selector_ejemplos{
	margin-top: 2%;
	margin-right: 4%;
}